.Form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 24px;
  max-width: fit-content;
  min-width: 274px;
}
input, button {
  border-radius: 6px;
  font-size: 18px;
  padding: 8px;
}
input[type="text"] {
  border: 1px solid #D0D0D0;
  grid-column: 1 / 2;
}
.side-button, #get-memes {
  cursor: pointer;
}
.side-button {
  grid-column: -1 / -2;
}
#get-memes {
  width: 100%;
}

@supports (display: grid) {
  .Form {
    display: grid;
    gap: 24px 18px;
    grid-template-columns: auto auto 40px;
  }
  input, button {
    margin: 0;
  }
  #get-memes {
    grid-column: 1 / -1;
  }
}
