.Form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: fit-content;
}
input, button {
  border-radius: 6px;
  font-size: 18px;
  padding: 8px;
}
input[type="text"] {
  border: 1px solid #D0D0D0;
}
#get-memes {
  cursor: pointer;
  width: 100%;
}

@supports (display: grid) {
  @media screen and (min-width: 450px) {
    .Form {
      display: grid;
      gap: 24px 18px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    input, button {
      margin: 0;
    }
    #get-memes {
      grid-column: 1 / -1;
    }
  }
}
