#Meme {
  height: 640px;
  line-height: 0;
  margin: 0 auto;
  max-height: 640px;
  max-width: 1280px;
  position: relative;
  text-align: center;
  width: 1280px;
}
.Meme-text {
  color: #FFF;
  cursor: move;
  font-family: "Impact", cursive;
  font-size: 32px;
  font-weight: 600;
  left: 0;
  letter-spacing: 1px;
  line-height: 1;
  position: absolute;
  text-align: center;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
  text-transform: uppercase;
  top: 0;
  max-width: 80%;
}
.highlight {
  border: 1px dashed transparent;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.Meme-text:hover .highlight {
  border-color: #000;
}
