.App {
  overflow: auto;
}
.App-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--header-height);
  justify-content: flex-start;
  padding-inline: 32px;
}
.App-header > * {
  display: inline-block;
  vertical-align: middle;
}
.App-logo {
  height: 32px;
  margin-right: 8px;
  width: auto;
}
.App-header > h1 {
  font-size: 24px;
}
.App-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: calc(100vh - var(--header-height));
  padding-top: 32px;
  position: relative;
}
#meme-container {
  height: 100%;
  overflow: scroll;
  width: 100%;
}
/* .App-main > *:not(:last-child) {
  margin-bottom: 24px;
} */
img {
  height: auto;
  max-height: inherit;
  max-width: inherit;
  width: auto;
}
